.icon-add {
	background-image: url(../images/add.png)
}

.icon-cancel {
	background-image: url(../images/cancel.png)
}

.icon-confirm {
	background-image: url(../images/confirm.png)
}

.icon-clear {
	background-image: url(../images/clear.png)
}

.icon-delete {
	background-image: url(../images/delete.png)
}

.icon-edit {
	background-image: url(../images/edit.png)
}

.icon-serach {
	background-image: url(../images/search.png)
}

.icon-visualize {
	background-image: url(../images/visualize.png)
}